<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trackzy</title>
    <link rel="icon" href="img/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div class="flex_main">
            <img class="potrait" src="./img/img.jpeg" alt="My Image">
            <div class="flex_right">
            <h3>Allen Benny</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae eos rerum libero deleniti quisquam placeat harum assumenda esse similique eum, eveniet, ducimus consequatur unde rem perferendis id architecto dignissimos nihil eius necessitatibus dolorum, minima quam omnis! Quaerat architecto, expedita itaque autem obcaecati mollitia atque quam ea corporis suscipit, officiis dolorum.</p>
            </div>
        </div>
        <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_tZShd4.json" background="transparent" speed="1"
            style="height: 35vh;" loop autoplay>
        </lottie-player>
    </div>
    {{>footer}}
</body>

</html>