<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trackzy</title>
    <link rel="icon" href="img/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div class="flex_main">
            <img class="potrait" src="./img/img.jpeg" alt="My Image">
            <div class="flex_right">
            <h3>Allen Benny</h3>
            <p>I usually call myself an ardent learner, (not bragging) but i do love to learn new things, I don't want my any day to go without learning something new, even though it's one small thing, this spirit of mine helps me to keep going and excel in everything.
            I usaully make Apps for mobile phones whether it be iOS or Android I can make Apps for them. I am well versed with Native Java Android Development and Flutter. The other thing which interests me would be Food, Yes I am a Foodie and trust me I can COOK XD. As I always say I am "Imperfectly Perfect".</p>
            </div>
        </div>
        <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_tZShd4.json" background="transparent" speed="1"
            style="height: 35vh;" loop autoplay>
        </lottie-player>
    </div>
    {{>footer}}
</body>

</html>