<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trackzy</title>
    <link rel="icon" href="img/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

</head>

<body>
    <div class="main-content">
        {{>header}}
        <h1 class="error-main">404</h1>
            <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_CiKDQB.json" background="transparent" speed="1"
                style="height: 40vh;" loop autoplay>
            </lottie-player>

    </div>

    {{>footer}}
</body>

</html>