<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trackzy</title>
    <link rel="icon" href="img/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}

        <h2 class="help-main">Need some help <span class="color-change">?</span></h2>
        <p class="help-para">This site is running it's own custom Database, we are currently in the developing phase and we hope to make our services better everyday. This site helps you know about a song and then discover more about it.</p>
        <div class="flex-thank">
            <h4 class="help-thank">Thanking You</h4>
            <h4 class="help-team"><a href="https://github.com/officiallygod">Team Materilio</a></h4>
        </div>
        <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_UbErcC.json" background="transparent" speed="1"
            style="height: 35vh;" loop autoplay>
        </lottie-player>
    </div>

    {{>footer}}
</body>

</html>