<header>
    <div class="header-flex">
        <h1>{{title}}</h1>
        <lottie-player src="https://assets9.lottiefiles.com/temp/lf20_zPWMRz.json" background="transparent" speed="0.75"
            style="height: 13vh; width: 11vh;" loop autoplay>
        </lottie-player>
    </div>

    <div class="header--nav">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
    </div>

</header>